/* == General == */
body{
    margin: 0px;
    width: 100vw;
    background-color: #fffefe;
}
section{
    height: fit-content;
    width: 1200px;
    margin: auto;
    position: relative;
}
.heading{
    height: 100px;
    width: 1200px;
    text-align: center;
}
.heading h1{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px;
}
.heading .underline{
    height: 6px;
    width: 110px;
    border-radius: 3px;
    background-color: #e4002e;
    margin: auto;
}
#bookmark{
    display: block;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    font-size: 24px;
    color: #e4002e;
    box-shadow: 2px 2px 12px #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    right: 40px;
}
#bookmark:hover{
    transform: translateY(-4px);
    transition: 500ms ease;
}

/* == Navigation == */
nav{
    height: 70px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}
#logo{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    text-decoration: none;
}
#logo span{
    color: #e4002e;
}
.nav-links{
    height: 70px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 0px 0px;
}
.nav-links a{
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #241f20;
    cursor: pointer;
}
.nav-links a .active{
    color: #e4002e;
}
.nav-links a:before{
    position: absolute;
    height: 4px;
    width: 60%;
    border-radius: 2px;
    content: "";
    bottom: 0;
    background-color: #e4002e;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 300ms ease-in-out;
}
.nav-links a:hover:before{
    visibility: visible;
    transform: scaleX(1);
}
.nav-links a:hover{
    color: #e4002e;
}
#active{
    color: #e4002e;
}
/* == || Navigation == */



/* == Banner == */
main{
    height: fit-content;
    width: 1200px;
}
.banner{
    height: 70vh;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px;
}
.banner-text{
    height: fit-content;
}
.banner-text p:nth-child(1){
    font-size: 60px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px;
}
.banner-text p:nth-child(2){
    
}
.banner-text button:nth-child(3){
    height: 60px;
    width: 200px;
    border: 0px;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #fffefe;
    background-color: #e4002e;
    margin: 40px 0px 0px 0px;
}
.banner-text button:hover{
    box-shadow: 2px 2px 12px #241f20a9;
    transition: 100ms ease;
}
.banner-img, img{
    height: 600px;
    width: 600px;
}
/* == || Banner == */


/* == Projects == */
.ads{
    height: fit-content;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0px;
}
.ad{
    height: 100px;
    width: 160px;
    text-align: center;
    margin: 0px 20px;
}
.ad h4{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #241f20;
    margin: 30px 0px;
}
.ad p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px;
}
/* == || Projects == */
/* ==  == */


/* == Footer == */
footer{
    height: fit-content;
    width: 1200px;
    display: block;
    margin: 20px 0px 0px 0px;
}
.footer-top{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 10px 0px;
}
footer .col{
    height: 200px;
    width: 300px;
    display: block;
    box-sizing: border-box;
    padding: 20px 10px;
}
#col-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col h4{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px 0px 10px 0px;
}
.col-2 a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #241f20;
    cursor: pointer;
}
.col-2 a:hover{
    color: #e4002e;
    transition: 100ms ease;
}
.col-3 a{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    text-decoration: none;
    margin: 0px 16px;
}
.col-3 a:hover{
    color: #e4002e;
    transition: 100ms ease;
}
#footer-logo{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    text-decoration: none;
}
#footer-logo span{
    color: #e4002e;
}
.footer-bottom{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #241f20;
}
/* == || Footer == */



/* == CONTACT PAGE == */
.contacts{
    height: fit-content;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0px;
}
.contact{
    height: fit-content;
    width: 320px;
    margin: 0px;
}
.contact h4{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px 0px 18px 0px;
}
.contact p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #241f20;
    margin: 2px 0px;
}
.contact p:nth-child(2){
    color: #e4002e;
}
.contact a:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #e4002e;
    margin: 2px 0px;
    text-decoration: none;
}
.social{
    height: fit-content;
    width: 1200px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social-text{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
}
.social-text p{
    font-size: 35px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px 0px 0px 0px;
}
.social-icons{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px;
}
.social-icons a{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #241f20;
    text-decoration: none;
    margin: 0px 20px;
}
.social-icons a:hover{
    color: #e4002e;
    transition: 100ms ease;
}
.location{
    height: fit-content;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0px;
}
.location-details{
    height: 450px;
    width: 400px;
    box-sizing: border-box;
    padding: 0px 0px 0px 50px;
    margin: 0px 20px 0px 0px;
}
.location-details h4{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #241f20;
    margin: 0px 0px 20px 0px;
}
.location-details p{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #241f20;
    margin: 5px 0px;
}
.map{
    margin: 0px 0px 0px 20px;
}
/* == || CONTACT PAGE == */